$clr-primary: #5fa2bc;
$clr-white: #f2f2f2;
$clr-dark-gray: #404040;
$clr-light-gray: #928d8d;

$clr-dark: #272727;
$clr-blue: #6998aa;

$clr-main: #ececec;
$clr-extra: rgba($clr-main, 0.9);

$clr-bg-main: rgba(#333, 0.17);
$clr-bg-extra: rgba(#555, 0.25);

$clr-bg-current: rgba(#78b478, 0.65);
$clr-bg-next: rgba($clr-primary, 0.45);
