@use '../../sass/abstracts/' as *;

@mixin custom-flex($count, $gap) {
  flex: calc((100% / $count) - $gap) 0 1;
  margin: calc($gap / 2);
  min-width: fit-content;
  max-width: calc($gap + 15rem);
}

#prayer {
  padding: 2.5rem 7% 2rem;
  @include break($xlarge) {
    padding: 2.5rem 6% 2rem;
  }
  @include break($large) {
    padding: 2.5rem 5% 2rem;
  }
  @include break($medium) {
    padding: 2.5rem 4% 2rem;
  }
  @include break($small) {
    padding: 2.5rem 3% 2rem;
  }

  .prayer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(15vh - 5rem);

    &__button {
      font-family: 'Roboto', sans-serif;
      padding: 1rem 2.5rem;
      font-size: 1.8rem;
      box-shadow: 0 0 3rem -0.5rem #00000080;
    }

    &__item {
      text-align: center;
      padding: 1.85rem 1rem;
      backdrop-filter: blur(0.7rem);
      box-shadow: 0 0 0.5rem rgb(0 0 0 / 8%);
      border-radius: 0.5rem;
      position: relative;
      opacity: 0.9;
      background-color: $bg-color-today;
      color: $color-today;
      line-height: 1;

      &[id$='2'] {
        opacity: 0.8;
        background-color: $bg-color-extra;
        color: $color-extra;
      }

      @include custom-flex(6, 1.65rem);
      @include break($xlarge) {
        padding: 1.8rem 0.95rem;
        @include custom-flex(5, 1.45rem);
      }
      @include break($large) {
        padding: 1.7rem 0.9rem;
        @include custom-flex(5, 1.33rem);
      }
      @include break($medium) {
        padding: 1.6rem 0.85rem;
        @include custom-flex(4, 1.25rem);
      }
      @include break($small) {
        padding: 1.5rem 0.8rem;
        @include custom-flex(3, 1rem);
      }

      &--time {
      }

      &--name {
        text-transform: capitalize;
        font-size: 1.45rem;
        margin-top: 0.4em;
        opacity: 0.775;
        transform: scaleX(1.1);
      }

      &--remain {
        display: none;
      }

      &.current {
        opacity: 1;
        padding-block: 2rem;
        background: transparent;

        .time {
          font-size: 1.7rem;
        }

        .name {
          font-size: 1.55rem;
          opacity: 0.9;
          text-decoration: underline;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          inset: 0;
          background: $bg-color-current;
          border-radius: inherit;
          box-shadow: inherit;

          @include currentPrayerAnimation {
            animation: current-prayer 2s infinite;
          }
        }
      }

      &.next {
        background: $bg-color-next;

        .time {
          font-size: 1.7rem;
        }

        .name {
          margin-top: 0.4em;
          font-size: 1.55rem;
          opacity: 0.9;
        }

        .remain {
          margin-top: 0.5em;
          color: paleturquoise;
          display: block;
        }
      }
    }
  }
}
