// Site Defaults
@use '../abstracts/' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;

  @include break($xlarge) {
    font-size: 61.5%;
  }
  @include break($large) {
    font-size: 60.5%;
  }
  @include break($medium) {
    font-size: 59%;
  }
  @include break($small) {
    font-size: 57.5%;
  }
  @include break($xsmall) {
    font-size: 55.5%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type='submit'] {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 2em;
}

[hidden] {
  display: none;
}
