@mixin break($_, $__: null) {
  @if ($__) {
    @media only screen and (min-width: $_) and (max-width: $__) {
      @content;
    }
  } @else if($_ > 0) {
    @media only screen and (max-width: $_) {
      @content;
    }
  } @else {
    @media only screen and (min-width: -$_) {
      @content;
    }
  }
}

// Breakpoints
$xsmall: 25em; // 400px
$msmall: 31.25em; // 500px
$small: 37.5em; // 600px
$medium: 48em; // 768px
$large: 62em; // 992px
$xlarge: 75em; // 1200px
$xxlarge: 120em; // 1920px
