@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
@-webkit-keyframes current {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes current {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: none;
  font-size: calc(45% + 0.175vw);
}
@media only screen and (min-width: 156.25rem) {
  html {
    font-size: calc(45% + 0.3vw);
  }
}
@media only screen and (min-width: 120rem) {
  html {
    font-size: calc(45% + 0.24vw);
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: calc(45% + 0.15vw);
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: calc(45% + 0.125vw);
  }
}
@media only screen and (max-width: 35.5em) {
  html {
    font-size: calc(45% + 0.1vw);
  }
}
html.cursorHide {
  cursor: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  background-image: url("../media/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  overflow: hidden;
}

textarea,
input {
  font: inherit;
  color: inherit;
}

.-wrapper--- {
  width: 100%;
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
}

button {
  background: none;
  outline: 0;
  border: 0;
  font: inherit;
  text-transform: capitalize;
  font-size: 1.75rem;
  padding: 0.6rem 1.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: #6998aa;
  color: #eee;
  font-weight: 500;
  transition: color 0.25s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.075s ease-in-out;
  transition: transform 0.075s ease-in-out, color 0.25s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.075s ease-in-out, color 0.25s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.075s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5333333333);
}
button:hover::before {
  width: 100%;
  opacity: 1;
}
button::before {
  content: "";
  display: block;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3f616e;
  z-index: -1;
  opacity: 0;
  transition: background 0.2s ease-in-out, width 0.35s ease-in-out, opacity 0.4s ease-in-out;
}
button:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: rgba(238, 238, 238, 0.6);
}
button:active::before {
  background: #8aaebc;
}

.font-ssp {
  font-family: "Source Sans Pro", sans-serif;
}

#prayerTimes {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(29, 29, 32, 0.5254901961);
  display: grid;
  place-items: center;
}
#prayerTimes .-wrapper--- {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin-bottom: 12vh;
}
#prayerTimes .-wrapper--- .item {
  flex: 14.2857142857% 0 1;
  padding: 0.825rem;
  max-width: 17.4rem;
}
@media only screen and (max-width: 75em) {
  #prayerTimes .-wrapper--- .item {
    flex: 16.6666666667% 0 1;
    padding: 0.725rem;
    max-width: 17.2rem;
  }
}
@media only screen and (max-width: 62em) {
  #prayerTimes .-wrapper--- {
    padding: 4.5%;
    margin-bottom: 13vh;
  }
  #prayerTimes .-wrapper--- .item {
    flex: 20% 0 1;
    padding: 0.665rem;
    max-width: 17.08rem;
  }
}
@media only screen and (max-width: 48em) {
  #prayerTimes .-wrapper--- {
    padding: 3.5%;
    margin-bottom: 14vh;
  }
  #prayerTimes .-wrapper--- .item {
    flex: 25% 0 1;
    padding: 0.625rem;
    max-width: 17rem;
  }
}
@media only screen and (max-width: 35.5em) {
  #prayerTimes .-wrapper--- {
    padding: 3%;
    margin-bottom: 15vh;
  }
  #prayerTimes .-wrapper--- .item {
    flex: 33.3333333333% 0 1;
    padding: 0.5rem;
    max-width: 16.75rem;
  }
}
#prayerTimes .-wrapper--- article {
  color: #ececec;
  text-align: center;
  transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.95;
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(0.7rem);
          backdrop-filter: blur(0.7rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.0823529412);
  padding: 1.85rem 1rem;
}
#prayerTimes .-wrapper--- article.current {
  opacity: 1;
  background: transparent !important;
  position: relative;
}
#prayerTimes .-wrapper--- article.current .name {
  font-size: 1.75rem;
  text-decoration: underline;
  opacity: 0.9;
}
#prayerTimes .-wrapper--- article.current .time {
  font-size: 1.95rem;
}
#prayerTimes .-wrapper--- article.current::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1254901961);
  background: rgba(120, 180, 120, 0.65) !important;
  border-radius: 0.5rem;
}
#prayerTimes .-wrapper--- article.next {
  opacity: 1;
  background: rgba(85, 120, 153, 0.5) !important;
}
#prayerTimes .-wrapper--- article.next .remain {
  display: block;
}
@media only screen and (max-width: 75em) {
  #prayerTimes .-wrapper--- article {
    padding: 1.8rem 0.95rem;
  }
}
@media only screen and (max-width: 62em) {
  #prayerTimes .-wrapper--- article {
    padding: 1.7rem 0.9rem;
  }
}
@media only screen and (max-width: 48em) {
  #prayerTimes .-wrapper--- article {
    padding: 1.6rem 0.85rem;
  }
}
@media only screen and (max-width: 35.5em) {
  #prayerTimes .-wrapper--- article {
    padding: 1.5rem 0.8rem;
  }
}
#prayerTimes .-wrapper--- article .name {
  opacity: 0.8;
  -webkit-transform: scaleX(1.15);
          transform: scaleX(1.15);
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0.2rem;
}
#prayerTimes .-wrapper--- article .time {
  font-size: 1.8rem;
}
#prayerTimes .-wrapper--- article .remain {
  color: paleturquoise;
  display: none;
  margin-top: 0.4rem;
}
#prayerTimes[currentprayeranimationenabled=true] .-wrapper--- article.current::before {
  -webkit-animation-name: current;
          animation-name: current;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#prayerTimes[extraTimes=tomorrow] .-wrapper--- .item[time=today] article {
  background: rgba(51, 51, 51, 0.21);
}
#prayerTimes[extraTimes=tomorrow] .-wrapper--- .item[time=extra] article {
  opacity: 0.9;
  background: rgba(102, 102, 102, 0.25);
  color: rgba(236, 236, 236, 0.9);
}
#prayerTimes[extraTimes=yesterday] .-wrapper--- .item[time=today] article {
  opacity: 0.9;
  background: rgba(102, 102, 102, 0.25);
  color: rgba(236, 236, 236, 0.9);
}
#prayerTimes[extraTimes=yesterday] .-wrapper--- .item[time=extra] {
  order: -1;
}
#prayerTimes[extraTimes=yesterday] .-wrapper--- .item[time=extra] article {
  background: rgba(51, 51, 51, 0.21);
}

#clock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ccc;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0.95;
}
#clock .date {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

#clock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ccc;
  font-weight: 500;
  --min: 1.85rem;
  --clamp: (1.2rem + (1.2vh - 1vw));
  --max: 2rem;
  font-size: clamp(var(--min), var(--clamp), var(--max));
  text-align: center;
  opacity: 0.95;
}
#clock .date {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

#sidebar {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  background: transparent;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#sidebar.show {
  background: #0e0e0e;
  opacity: 1;
}
#sidebar.show .sidebar {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#sidebar .sidebar {
  max-width: 600px;
  height: 100%;
  color: #272727;
  background: #eee;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
#sidebar .sidebar__header, #sidebar .sidebar__content {
  padding: 2.5rem 4rem;
}
#sidebar .sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
#sidebar .sidebar__header--heading {
  font-size: 2.25rem;
}
#sidebar .sidebar .overflow-auto {
  overflow-y: auto;
}
#sidebar .sidebar__animation-control {
  margin-bottom: 3rem;
}
#sidebar .sidebar .madhab__heading,
#sidebar .sidebar .calculation-method__heading {
  margin-bottom: 1rem;
}
#sidebar .sidebar .madhab__list--item,
#sidebar .sidebar .calculation-method__list--item {
  cursor: pointer;
  margin-bottom: 0.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#sidebar .sidebar .madhab__list--item input,
#sidebar .sidebar .madhab__list--item label,
#sidebar .sidebar .calculation-method__list--item input,
#sidebar .sidebar .calculation-method__list--item label {
  cursor: inherit;
}
#sidebar .sidebar .madhab input[type=radio],
#sidebar .sidebar .calculation-method input[type=radio] {
  margin-right: 0.6rem;
}
#sidebar .sidebar .madhab {
  margin-bottom: 2.5rem;
}
#sidebar .sidebar .buttons {
  margin: 2rem 0 4rem;
}
#sidebar .sidebar #custom_location {
  display: none;
  background: #d5d5d5;
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
}
#sidebar .sidebar #custom_location input {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 0.75rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#sidebar .sidebar #custom_location button {
  display: block;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#sidebar .sidebar__location {
  min-width: 36ch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#sidebar .sidebar__location button {
  width: 100%;
  margin: 0.3rem 0;
}
#sidebar .sidebar__location button.custom_location-active + #custom_location {
  display: block;
}
#sidebar .sidebar .close_slider {
  position: relative;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-in-out, opacity 0.2s ease-in-out;
  border-radius: 50%;
  padding: 0.75rem;
}
#sidebar .sidebar .close_slider .leftright {
  height: 0.3rem;
  width: 2.2rem;
  position: absolute;
  margin-top: 0.95rem;
  background-color: #272727;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
#sidebar .sidebar .close_slider .rightleft {
  height: 0.3rem;
  width: 2.2rem;
  position: absolute;
  margin-top: 0.95rem;
  background-color: #272727;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}
#sidebar .sidebar .close_slider:hover {
  background: #ccc;
}
#sidebar .sidebar .close_slider:active {
  opacity: 0.75;
}
#sidebar .sidebar .close_slider:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #f25c66;
}
#sidebar .sidebar .close_slider:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f25c66;
}

#footer {
  background: #272727;
  color: #bbbbbb;
  text-align: center;
  padding: 5rem 0;
  font-size: 1.55rem;
  margin-top: 5rem;
}
#footer .footer {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#footer a {
  color: inherit;
  display: inline-block;
  transition: color 0.1s ease-in-out;
}
#footer a:hover {
  color: #6998aa;
}
#footer .more {
  margin-top: 2rem;
}