@use '../' as *;

#settings {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  bottom: 100vh;

  &.show,
  &.close {
    @include settingsAnimation {
      transition: background-color 0.5s ease-in-out;
    }
  }

  &.show {
    bottom: 0;
    background-color: rgb(0 0 0 / 45%);
  }

  &.close {
    background-color: transparent;
  }

  .settings {
    --responsive-transition: height, width, border-radius;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 75rem;
    height: 90vh;
    background: rgba($color-white, 0.8);
    padding: 1.5rem 2.5rem 2rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    overflow: hidden;
    top: -50vh;
    left: 50%;
    opacity: 0;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s ease-in-out;
    transition-property: var(--responsive-transition);
    visibility: hidden;
    max-height: 100vh;
    overflow-y: auto;

    @include break($small) {
      height: calc(100vh - 5vmin);
      width: 95%;
    }

    @include break(31.25rem) {
      height: 100vh;
      width: 100%;
      border-radius: 0;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        font-size: 3.75rem;
        font-weight: bold;
        letter-spacing: -0.05rem;
        position: relative;
        color: $color-primary;

        &::before {
          content: 'Settigns';
          position: absolute;
          font-size: 9.6rem;
          opacity: 0.15;
          top: -6rem;
          left: -4rem;
        }
      }

      &--button {
        padding: 1.2rem 1.7rem;

        svg {
          height: 1.5rem;

          fill: $color-white;
        }
      }
    }

    &__form {
      margin-top: 3.5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--body {
      }

      &--controls {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
          padding: 0.65rem 1.75rem;
        }
      }

      &--links {
        display: flex;
        align-items: center;

        a {
          margin-right: 0.75rem;
        }

        path {
          transition: fill 0.15s ease-in-out;
        }

        a:hover {
          path {
            fill: $color-primary;
          }
        }
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 2.75rem;
      font-size: 1.5rem;
      color: $color-dark-gray;

      &--content {
        flex: 3;

        h2 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2;
        }

        p {
          font-size: 1.35rem;
        }
      }

      .custom-select-dropdown-box {
        flex: 2;
      }

      &--checkbox {
        font-size: 1.25rem;

        input {
          display: none;
        }

        label {
          cursor: pointer;
        }
      }
    }
  }

  &.show .settings {
    visibility: visible;
    top: 50%;
    opacity: 1;

    @include settingsAnimation {
      transition-property: top, opacity, var(--responsive-transition);
    }
  }

  &.close .settings {
    opacity: 0;

    @include settingsAnimation {
      transition-property: transform, opacity, var(--responsive-transition);
      transform-origin: top right;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      transform: translate(-50%, -50%) scale(0) rotate(-100deg);
    }
  }
}
