<section id="settings" class="show">
  <div class="-- settings">
    <div class="settings__header">
      <div class="settings__header--icon">{settings}</div>

      <button id="settings-close-button" class="settings__header--button">
        <div></div>
        <div></div>
      </button>
    </div>

    <form class="settings__form">
      <div class="settings__form--buttons">
        <button type="reset">Reset</button>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</section>
