@use '../../sass/abstracts' as *;

.custom-select-dropdown-box {
  --padding: 1.2rem 1.8rem;

  .select-box {
    $transition-delay: 0.3s;

    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;

    &__current {
      position: relative;
      box-shadow: 0 1.5rem 3rem -1rem transparentize(#000, 0.9);
      cursor: pointer;
      border-radius: 0.5rem;
      background-color: $color-white;
      transition: background-color 0.1s ease-in-out;
      padding-right: 2.4rem;
      display: block;
      width: 100%;
      text-align: left;
      outline: 0;
      border: 0;

      &:focus:not(.active) {
        background-color: darken($color-white, 5%);
        box-shadow: 0 0 0.5rem 0.1rem rgba($color-primary, 0.6);
      }

      &.active {
        background-color: darken($color-white, 10%);

        & + .select-box__list {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          transition: $transition-delay ease-in-out;
          transition-property: transform, opacity;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      width: 2rem;
      transition: 0.2s ease;
      opacity: 0.5;

      svg {
        fill: $color-dark-gray;
      }
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: var(--padding);
    }

    &__list {
      position: absolute;
      right: 0;
      width: 110%;
      min-width: max-content;
      padding: 0;
      z-index: 1;
      background-color: $color-white;
      max-height: 30rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 3rem -1rem rgba(#000, 0.2);
      opacity: 0;
      margin-top: 1.5rem;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: top;
      transition: opacity $transition-delay,
        transform $transition-delay ease-in-out,
        visibility 0s ease-in $transition-delay;

      &--wrapper {
        max-height: inherit;
        border-radius: inherit;
        overflow: hidden;
      }

      &--container {
        list-style: none;
        overflow: hidden;
        overflow-y: auto;
        max-height: inherit;
      }

      li {
        border-bottom: 0.1rem solid $color-primary;

        &:last-child {
          border-bottom: none;
        }
      }

      &::after {
        content: '';
        display: block;
        background: $color-white;
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: -0.1rem;
        right: 2rem;
        transform: rotate(45deg);
        border-radius: 0.5rem;
        z-index: -1;
      }
    }

    &__option {
      display: block;
      padding: var(--padding);

      &:hover,
      &:focus {
        color: #546c84;
        background-color: rgba($color-primary, 0.2);
      }
    }
  }
}
