@use '../../sass/abstracts' as *;

$padding: 1.2rem 1.8rem;

.custom-select-dropdown-box {
  .select-box {
    $transition-delay: 0.3s;

    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;

    &__current {
      position: relative;
      box-shadow: 0 1.5rem 3rem -1rem transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;
      border-radius: 0.5rem;
      background-color: $color-white;
      transition: background-color 0.1s ease-in-out;

      &.active {
        background-color: darken($color-white, 10%);
        border-radius: 0.5rem 0.5rem 0 0;

        & + .select-box__list {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          transition: $transition-delay ease-in-out;
          transition-property: transform, opacity;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      width: 2rem;
      transition: 0.2s ease;
      opacity: 0.5;

      svg {
        fill: $color-dark-gray;
      }
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: $padding;
    }

    &__list {
      border-radius: 0 0 0.5rem 0.5rem;
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      z-index: 1;
      background-color: $color-white;
      max-height: 30rem;
      overflow: hidden;
      overflow-y: auto;
      box-shadow: 0 1.5rem 3rem -1rem transparentize(#000, 0.9);
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: top;

      transition: opacity $transition-delay, transform $transition-delay ease-in-out,
        visibility 0s ease-in $transition-delay;

      /* OPTIMIZE: Spacing top */

      li {
        border-bottom: 0.1rem solid $color-primary;

        &:last-child {
          border-bottom: none;
        }
      }

      /* TODO: Add an arrow icon */
      &::after {
        content: '';
        display: block;
        background: #000;
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: -1rem;
        right: 0;
        z-index: 100;
      }
    }

    &__option {
      display: block;
      padding: $padding;

      &:hover,
      &:focus {
        color: #546c84;
        background-color: rgba($color-primary, 0.2);
      }
    }
  }
}
