*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}
