@use '../' as *;

#clock {
  color: $color-white;
  margin-bottom: 1.75rem;

  .clock {
    text-align: center;

    &__time {
      display: flex;
      width: fit-content;
      margin: auto;
    }
  }
}
