<section id="clock">
  <div class="-- clock">
    <div class="clock__time">
      <span class="clock__time--hour">88</span>
      <span class="clock__time--colon">:</span>
      <span class="clock__time--min">88</span>
      <span class="clock__time--colon">:</span>
      <span class="clock__time--sec">88</span>
      <span class="clock__time--space">&nbsp;</span>
      <span class="clock__time--modifier">PA</span>
    </div>

    <div class="clock__date">Thursday, July 28, 2022</div>
  </div>
</section>
