#prayerTimes {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  background: #1d1d2086;

  display: grid;
  place-items: center;

  .-wrapper--- {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 5%;
    margin-bottom: 12vh;

    @include custom-flex(7, 1.65rem);
    @include laptop-s {
      @include custom-flex(6, 1.45rem);
    }
    @include tablet-l {
      @include custom-flex(5, 1.33rem);
      padding: 4.5%;
      margin-bottom: 13vh;
    }
    @include tablet {
      @include custom-flex(4, 1.25rem);
      padding: 3.5%;
      margin-bottom: 14vh;
    }
    @include phone {
      @include custom-flex(3, 1rem);
      padding: 3%;
      margin-bottom: 15vh;
    }

    article {
      color: $color-today;
      text-align: center;
      transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

      opacity: 0.95;
      border-radius: 0.5rem;
      backdrop-filter: blur(0.7rem);

      box-shadow: 0 0 0.5rem #00000015;

      padding: 1.85rem 1rem;

      &.current {
        opacity: 1;
        background: transparent !important;

        position: relative;

        .name {
          font-size: 1.75rem;
          text-decoration: underline;
          opacity: 0.9;
        }
        .time {
          font-size: 1.95rem;
        }

        &::before {
          z-index: -1;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          box-shadow: 0 0 0.75rem #00000020;
          background: $bg-color-current !important;
          border-radius: 0.5rem;
        }
      }
      &.next {
        opacity: 1;
        background: $bg-color-next !important;
        .remain {
          display: block;
        }
      }
      @include laptop-s {
        padding: 1.8rem 0.95rem;
      }
      @include tablet-l {
        padding: 1.7rem 0.9rem;
      }
      @include tablet {
        padding: 1.6rem 0.85rem;
      }
      @include phone {
        padding: 1.5rem 0.8rem;
      }

      .name {
        opacity: 0.8;
        transform: scaleX(1.15);

        font-weight: 400;
        font-size: 1.6rem;

        margin-top: 0.2rem;
      }
      .time {
        font-size: 1.8rem;
      }
      .remain {
        color: paleturquoise;
        display: none;

        margin-top: 0.4rem;
      }
    }
  }

  &[currentprayeranimationenabled="true"] .-wrapper--- article.current::before {
    animation-name: current;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &[extraTimes="tomorrow"] .-wrapper--- {
    .item[time="today"] {
      article {
        background: $bg-color-today;
      }
    }
    .item[time="extra"] {
      article {
        opacity: 0.9;
        background: $bg-color-extra;
        color: $color-extra;
      }
    }
  }
  &[extraTimes="yesterday"] .-wrapper--- {
    .item[time="today"] {
      article {
        opacity: 0.9;
        background: $bg-color-extra;
        color: $color-extra;
      }
    }
    .item[time="extra"] {
      order: -1;
      article {
        background: $bg-color-today;
      }
    }
  }
}

//
