<section id="modal">
  <div class="-- modal">
    <div class="modal__icons">
      <div class="modal__icons--red">
        <div class="icon-1"></div>
      </div>
      <div class="modal__icons--green">{green-icon}</div>
    </div>

    <h2 class="modal__title">Are you sure?</h2>

    <p class="modal__message">
      Lorem ipsum dolor sit amet consectetur adipisicing.
    </p>

    <div class="modal__buttons">
      <button class="button button--secondary" id="modal-no">No</button>
      <button class="button button--primary" id="modal-yes"></button>
    </div>
  </div>
</section>
