@use '../../sass/abstracts' as *;

#modal {
  @include otherAnimations() {
    --transition-duration: 0.1s;
  }

  position: fixed;
  inset: 0;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  background-color: transparent;
  transition: background-color var(--transition-duration) ease-in-out,
    visibility 0s ease var(--transition-duration);

  &.show {
    visibility: visible;
    background-color: #00000088;
    transition: background-color var(--transition-duration) ease-in-out;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    max-width: 90vw;
    text-align: center;
    background: $color-white;
    padding: 1.75rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #000000aa;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: var(--transition-duration) ease-in-out;
    transition-property: opacity, transform;

    &__icons {
      --size: 8rem;
      --border: 0.5rem;

      width: fit-content;
      margin-inline: auto;
      margin-block: 1.5rem 2rem;

      &--red,
      &--green {
        display: none;
        height: var(--size);
        width: var(--size);
        border: calc(var(--border) / 1.18) solid var(--color);
        border-radius: 50%;
        padding: calc(var(--size) / 9);
      }

      &--red {
        --color: orange;

        .icon-1 {
          background: var(--color);
          display: inline-block;
          height: 72%;
          width: var(--border);
          position: relative;
          border-radius: 100vmax;

          &::after {
            border-radius: inherit;
            position: absolute;
            bottom: -34%;
            content: '';
            display: block;
            height: var(--border);
            width: var(--border);
            background: inherit;
          }
        }
      }

      &--green {
        --color: #6edb43;
        padding: calc(var(--size) / 30);

        svg {
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: inherit;
          stroke: var(--color);
          color: var(--color);
        }
      }
    }

    &__title {
      color: $color-dark-gray;
      font-weight: 500;
      margin-bottom: 0.3rem;
      opacity: 0.9;
    }

    &__message {
      font-size: 1.45rem;
      opacity: 0.7;
      margin-bottom: 2.75rem;
    }

    &__buttons {
      text-align: right;

      .button {
        padding: 0.75rem 2rem;
        text-transform: capitalize;
        border-radius: 0.4rem;

        &--primary {
          margin-left: 1rem;

          &::after {
            content: 'Yes';
            display: block;
          }
        }

        &--secondary {
          background-color: rgba($color-dark-gray, 0.1);
        }
      }
    }
  }

  &.red .modal__icons--red {
    display: block;
  }

  &.green .modal__icons--green {
    display: block;
  }

  &.false .button--secondary {
    display: none;
  }

  &.false .button--primary::after {
    content: 'Ok';
  }

  &.show .modal {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
