@use '../' as *;

#header {
  padding: 2.5rem 4rem;
  @include break($xlarge) {
    padding-inline: 3.5rem;
  }
  @include break($large) {
    padding: 2rem 3rem;
  }
  @include break($medium) {
    padding: 1.75rem 2.5rem;
  }
  @include break($small) {
    padding: 1.5rem 2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;

    button {
      border: 0;
      outline: 0;
      background: none;
      opacity: 0.6;
      transition: opacity 0.15s ease-in-out;
      width: 2rem;
      aspect-ratio: 1;

      &:hover {
        opacity: 0.9;
      }

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: #fff;
        }
      }
    }

    &__full-screen {
      button {
        display: none;
      }

      .expand {
        display: block;
      }
    }

    &__settings {
    }
  }
}
