@use '../' as *;

#header {
  padding: 2.5rem 4rem;
  @include break($xlarge) {
    padding-inline: 3.5rem;
  }
  @include break($large) {
    padding: 2rem 3rem;
  }
  @include break($medium) {
    padding: 1.75rem 2.5rem;
  }
  @include break($small) {
    padding: 1.5rem 2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;

    button {
      border: 0;
      outline: 0;
      background: none;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      width: 2.75rem;
      aspect-ratio: 1;
      padding: 0.4rem;
      border-radius: 50%;

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: 100%;
        width: 100%;
        border-radius: 50%;

        path {
          fill: #fff;
        }
      }
    }

    &__full-screen {
      .expand,
      .compress {
        height: 100%;
        width: 100%;
        display: none;
      }

      &[fullscreen] .compress {
        display: block;
      }

      &:not([fullscreen]) .expand {
        display: block;
      }
    }

    &__settings {
    }
  }
}
