.main {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #1d1d2080;
  padding: 2.5rem 4rem;

  @include break-down($xl) {
    padding-inline: 3.5rem;
  }
  @include break-down($lg) {
    padding: 2rem 3rem;
  }
  @include break-down($md) {
    padding: 1.75rem 2.5rem;
  }
  @include break-down($sm) {
    padding: 1.5rem 2rem;
  }

  padding-bottom: 1.75rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('./assets/bg.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
